.col-sm-8 {
    background: green;
}
.col-sm-4 {
    background: yellow;
}
.col-sm-6 {
    background: red;
}
#col62 {
    background: purple;
}
.col-sm {
    background: black;
}
#colsm1 {
    background: grey;
}
#colsm2 {
    background: yellowgreen;
}
.col-md-8 {
    background: rebeccapurple;
}
.col-6 {
    background: plum;
}